body {
    text-align: center;
    color: black;
    font-size: 18px;
}

#Ball {
    height: 150px;
    width: 150px;
    border-radius: 360px;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    display: inline;
    position: absolute;
}

.links {
    float: left;
    color: fuchsia;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

#home {
    background: linear-gradient(#e7bee7 0%, #90caf9 100%);
    background-repeat: no-repeat;
}

#about {
    background-color: aqua;
}
